body
{ 
	background-color: white; 

	font-family: sans-serif;
}

a:link,
a:visited
{
	color: #729fcf;

	text-decoration: none;
}

a:hover,
a:active
	{ text-decoration: underline; }

img[src="matched_nptg_locality_small.png"],
img[src="deleted_osm_locality_small.png"],
img[src="deleted_nptg_locality_small.png"]
	{ opacity: 0.6; }

/*
 * Header: title and tools menu
 */

h1,
ul#tools_menu
{
	height: auto;

	margin: 0px;

	background-color: #729fcf;
	color: white;

	font-size: 15px;
	font-weight: normal;
}

h1
{
	position: absolute;
	left: 0px;
	top: 5px;
	width: auto;
	
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 2px;

	letter-spacing: 0.5em;

	background-image: url("header_right_edge.png");
	background-position: right center;
	background-repeat: no-repeat;
}

h1 img
{
	position: absolute;
	top: -3px;
	left: 10px;

	width: 35px;
	height: 30px;
}

ul#tools_menu
{
	position: absolute;
	top: 5px;
	right: 0px;
	width: 500px;

	z-index: 7;

	padding-left: 0px;
	padding-right: 30px;
	padding-top: 3px;
	padding-bottom: 0px;

	background-image: url("header_left_edge.png");
	background-position: left center;
	background-repeat: no-repeat;
}

ul#tools_menu li
{
	position: relative;
	display: block;

	float: right;

	margin-left: 20px;
	margin-right: 0px;

	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 3px;
}

ul#tools_menu > li > a:link,
ul#tools_menu > li > a:visited
{
	color: white;

	text-decoration: none;
}

ul#tools_menu > li > a:hover,
ul#tools_menu > li > a:active
	{ text-decoration: underline; }

/*
 * Sub menus 
 */

ul#tools_menu > li.SubMenu:hover
{

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;

	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;

	color: black;
	background-color: white;
}

ul#tools_menu dl,
ul#tools_menu ul,
ul#tools_menu div
{
	display: none;
	position: absolute;

	right: -1px;
	top: 22px;
	width: 300px;

	border-left: 1px solid black;
	border-right: 1px solid black;

	margin: 0px;
	padding: 8px;

	color: black;

	background-color: white;
	background-image: url("menu_background.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

ul#tools_menu > li:hover dl,
ul#tools_menu > li:hover ul,
ul#tools_menu > li:hover div
	{ display: block; }
