body
{ 
	background-color: white; 

	font-family: sans-serif;

	margin: 0px;
}

/*
 * Header: title and tools menu
 */

h1,
ul#tools_menu
{
	margin: 0px;

	padding-top: 5px;
	padding-bottom: 5px;

	background-color: #729fcf;
	color: white;

	font-size: 15px;
	font-weight: normal;
}

h1
{
	position: absolute;
	left: 0px;
	top: 5px;
	width: auto;
	height: 15px;
	
	padding-left: 50px;
	padding-right: 50px;

	letter-spacing: 0.5em;

	background-image: url("header_right_edge.png");
	background-position: right center;
	background-repeat: no-repeat;
}

h1 img
{
	position: absolute;
	top: -3px;
	left: 10px;

	width: 35px;
	height: 30px;
}

ul#tools_menu
{
	position: absolute;
	top: 5px;
	right: 0px;
	width: 500px;
	height: 15px;

	padding-left: 0px;
	padding-right: 30px;

	text-align: right;

	background-image: url("header_left_edge.png");
	background-position: left center;
	background-repeat: no-repeat;
}

ul#tools_menu li
{
	display: inline-block;

	padding-left: 20px;
	padding-right: 0px;
}

ul#tools_menu a:link,
ul#tools_menu a:visited
{
	color: white;

	text-decoration: none;
}

ul#tools_menu a:hover,
ul#tools_menu a:active
	{ text-decoration: underline; }

/*
 * Widgets
 */

h2
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 20px;

	margin: 0px;

	padding-left: 5px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;

	border-bottom: 1px solid #babdb6;

	font-weight: bold;
	font-size: small;
}

button.OkButton
{
	position: absolute;
	right: 100px;
	bottom: 0px;
	height: 25px;
	width: 80px;
}

button.CancelButton
{
	position: absolute;
	right: 10px;
	bottom: 0px;
	height: 25px;
	width: 80px;
}

/*
 * LocalityViewer
 */

dl.LocalityViewer
{
	position: absolute;
	left: 0px;
	top: 23px;
	right: 0px;
	bottom: 0px;

	margin: 0px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	font-size: small;

	overflow: auto;
}

dl.LocalityViewer dt
{
	display: block;
	float: left;
	clear: both;

	width: auto;
	min-width: 180px;

	font-weight: bold;
}

dl.LocalityViewer dd
{
	display: block;
	margin-left: 180px;

	width: auto;

}

/*
 * LocalityList
 */

ol.LocalityList
{
	position: absolute;
	left: 0px;
	top: 23px;
	right: 0px;
	bottom: 0px;

	margin: 0px;
	padding-left: 0px;

	overflow: auto;

	font-size: small;
}

ol.LocalityList li
{
	display: block;

	list-style-type: none;
	list-style-position: inside;

	border-top: 1px dotted #babdb6;

	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;

	cursor: pointer;
}

ol.LocalityList li:first-child
	{ border-top: none; }

ol.LocalityList li.Highlight
	{ background-color: #fff8c6; }
